*{
  padding: 0;
  margin: 0;
}

body{ 
  font-family: 'Nunito', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'PT Sans', sans-serif;
}
:root{
  --themecolor: rgb(22, 168, 236);
  --fontcolor: white;
}

.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}
.container1{
  background-color: var(--themecolor);
  color: var(--fontcolor);
}

.main1{
  padding-left: 5em;
  padding-top: 8em;
}

.title{
  line-height: 3.5em;
}

.main1 h1{
  font-size: 4em;
  font-weight: bold;
  
}

.title-matter{
  padding-top: 2em;
  padding-bottom: 3em;
  line-height: 1.5em;
  font-size: 1.3em;
}

i{
  color: var(--themecolor);
  padding-top: 0.7em;
  
}

.option-container{
  display: flex;
  align-items: center;
  margin-left: 3.8em;
  font-size: 1.3em;
  gap: 1em;
}

.rounded{
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}

.container2{
  padding-left: 1.5em;
  padding-top: 7em;
}

.container2 h4{
  font-size: .8em;
  padding-bottom: .8em;
}

.container2 p{
  font-size: .7em;
}
.container2 i{
  color: white;
}

.container2 .rounded{
  background-color: var(--themecolor);
  margin-top: 0.5em;
}

.container2 .option-container{
  padding-bottom: 3em;
}

.container2 .option-text{
  line-height: 1.5em;
}

@media (max-width: 500px){
  .wrapper{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
  }

  .main1{
    padding-left: 2em;
    max-width: 21em;
  }

  .option-container{
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .container2 .option-container{
    margin-left: 0em;
    margin-top: 0.5em;
    line-height: 0.5em;
  }

  .option-text{
    max-width: 10em;
  }

}

